Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.1
celery==5.3.4
redis==5.0.1
websocket-client==1.6.4
requests==2.31.0
python-binance==1.0.19
krakenex==2.1.0
ccxt==4.1.59
numpy
pandas